<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>InterChat</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/chat.css">
</head>
<body>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="https://apprtc.appspot.com/js/adapter.js"></script>
  <script src="/js/socket.io.js"></script>
  <script src="/js/bootbox.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/config.js"></script>
  <script src="/js/p2p.js"></script>
  <script src="/js/chat.js"></script>

  <ul class="pages">
    <li id="chat_page" class="chat page">
      <div class="navbar navbar-fixed-top navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand">InterChat</a>
            <span class="glyphicon glyphicon-facetime-video sessionType-icon" id="videoIcon"></span>
            <span class="glyphicon glyphicon-volume-up sessionType-icon" id="audioIcon"></span>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
        <div class="container">
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="#" id="about">About</a>
              </li>
              <li>
                <a href="#" id="quit">Quit</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row" style="padding-top:50px">
        <div class="col-xs-12 col-sm-12 col-md-8">
          <div class="chatArea">
            <ul class="messages" id="publicMessages"></ul>
          </div>
        </div>
        <div class="hidden-xs hidden-sm col-md-4">
          <div class="userArea">
            <h3>Users:</h3>
            <ul class="users"></ul>
          </div>
        </div>
        <div class="control-panel">
            <span class="label label-default" id="callStatus">In Call</span>
            <button type="button" class="btn btn-default chatoption" id="stopVideo">
              <span class="glyphicon glyphicon-stop"></span>
            </button>
            <button type="button" class="btn btn-default chatoption" id="stopAudio">
              <span class="glyphicon glyphicon-stop"></span>
            </button>
            <button type="button" class="btn btn-default chatoption" id="testData">
              <span class="glyphicon glyphicon-play-circle"></span>
            </button>
            <div class="videos">
              <video id="remoteVideo" autoplay="autoplay" controls="true"></video>
              <video id="localVideo" autoplay="autoplay" controls="true"></video>
            </div>
            <div class="audios">
              <audio id="remoteAudio" autoplay="autoplay"></audio>
            </div>
          </div>
      </div>
      <footer class="footer">
        <div class="container">

          <textarea class="inputMessage form-control" placeholder="Say something..."></textarea>
        </div>
      </footer>
    </li>
    <li class="login page">
      <div class="form">
        <input class="usernameInput" type="text" maxlength="14" placeholder="Your name"/>
        <br>
        <br>
        <br>
        <br>
        <input class="roomnameInput" type="text" maxlength="14" placeholder="Room name"/>
        <br>
        <br>
        <br>
        <br>
        <button id="enterRoom" type="submit" class="btn btn-1 btn-1a">Enter</button>
      </div>
    </li>
  </ul>
  <div id="contextMenu" class="dropdown clearfix">
    <ul class="dropdown-menu context-dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
      <li><a tabindex="-1" id="sendMsg" href="#">Send message</a></li>
      <li><a tabindex="-1" id="startAudio" href="#">Voice chat</a></li>
      <li><a tabindex="-1" id="startVideo" href="#">Video chat</a></li>
      <li><a tabindex="-1" id="testP2p" href="#">Test</a></li>
    </ul>
  </div>

  <div class="modal fade" id="privateChannel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="privateMessagesTitle">Private Chat</h4>
        </div>
        <div class="modal-body">
          <ul class="messages" id="privateMessages"></ul>
          <div class="container">
            <textarea class="privateMessage form-control" placeholder="Whisper something..."></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="sendPrivateMsgBtn" class="btn btn-primary">Send</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
