<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>InstantChat</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="//www.bootstrap-switch.org/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet">
  <link rel="stylesheet" href="css/chat.css">
</head>
<body>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="//www.bootstrap-switch.org/dist/js/bootstrap-switch.js"></script>
  <script src="//apprtc.appspot.com/js/adapter.js"></script>
  <script src="/js/socket.io.js"></script>
  <script src="/js/bootbox.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/config.js"></script>
  <script src="/js/signalingChannel.js"></script>
  <script src="/js/dataChannel.js"></script>
  <script src="/js/mediaChannel.js"></script>
  <script src="/js/chat.js"></script>

  <ul class="pages">
    <li id="chat_page" class="chat page">
      <div class="navbar navbar-fixed-top navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand">InstantChat</a>
            <a href="#" class="glyphicon glyphicon-facetime-video sessionType-icon videoIcon" data-toggle="modal" data-target="#videoChannel"></a>
            <a href="#" class="glyphicon glyphicon-volume-up sessionType-icon audioIcon"></a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
        <div class="container">
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="#" class="navbarItem" id="listroommates">List Chatters</a>
              </li>
              <li>
                <a href="#" class="navbarItem" id="about">About</a>
              </li>
              <li>
                <a href="#" class="navbarItem" id="quit">Quit</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row mainAreas">
        <div class="col-xs-12 col-sm-12 col-md-8">
          <div class="chatArea">
            <ul class="messages" id="publicMessages"></ul>
          </div>
        </div>
        <div class="hidden-xs hidden-sm col-md-4">
          <div class="userArea">
            <h3>Users:</h3>
            <ul class="users"></ul>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="audios">
          <audio class="remoteAudio" autoplay="autoplay"></audio>
        </div>
        <div class="control-panel">
          <span class="label label-default callStatus"></span>
          <div class="audioControls">
            <input id="muteSwitch" type="checkbox" data-off-text="Muted" data-on-text="Unmuted" checked="true" class="BSswitch mute">
            <button type="button" class="btn btn-danger chatoption stopAudio">
              <span class="glyphicon glyphicon-stop"></span>
            </button>
          </div>
          <button type="button" class="btn btn-danger chatoption stopVideo">
            <span class="glyphicon glyphicon-stop"></span>
          </button>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <textarea class="inputMessage form-control" placeholder="Say something..."></textarea>
        </div>
      </footer>
    </li>
    <li class="login page">
      <div class="form">
        <input class="usernameInput" type="text" maxlength="64" placeholder="Your name"/>
        <br>
        <br>
        <br>
        <br>
        <input class="roomnameInput" type="text" maxlength="64" placeholder="Room name"/>
        <br>
        <br>
        <br>
        <br>
        <button id="enterRoom" type="submit" class="btn btn-1 btn-1a">Enter</button>
      </div>
    </li>
  </ul>
  <div id="contextMenu" class="dropdown clearfix">
    <ul class="dropdown-menu context-dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
      <li><a tabindex="-1" id="sendMsg" href="#">Send message</a></li>
      <li><a tabindex="-1" id="startAudio" href="#">Voice chat</a></li>
      <li><a tabindex="-1" id="startVideo" href="#">Video chat</a></li>
    </ul>
  </div>

  <div class="modal fade" id="privateChannel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="privateMessagesTitle">Private Chat</h4>
        </div>
        <div class="modal-body">
          <ul class="messages" id="privateMessages"></ul>
          <div class="container">
            <textarea class="privateMessage form-control" placeholder="Whisper something..."></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="videoChannel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Video chat</h4>
        </div>
        <div class="modal-body">
          <div class="media-panel">
            <div class="videos">
              <video class="remoteVideo" autoplay="autoplay"></video>
              <video class="localVideo" autoplay="autoplay"></video>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger stopVideo" data-dismiss="modal">Stop</button>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
