<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="QM">
  <title>InstantChat</title>

  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-switch.css" rel="stylesheet">
  <link rel="stylesheet" href="css/chat.css">

  <link rel="icon" type="image/png" href="/favicon-16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/favicon-32.png" sizes="32x32">
</head>
<body>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/bootstrap-switch.js"></script>
  <script src="/js/adapter.js"></script>
  <script src="/js/i18next-1.7.7.js"></script>
  <script src="/js/socket.io.js"></script>
  <script src="/js/bootbox.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/config.js"></script>
  <script src="/js/signalingChannel.js"></script>
  <script src="/js/dataChannel.js"></script>
  <script src="/js/mediaChannel.js"></script>
  <script src="/js/chat.js"></script>

  <ul class="pages">
    <li id="chat_page" class="chat page">
      <div class="navbar navbar-fixed-top navbar-default">
        <div class="navbar-header">
          <img id="pageLogo" src="/favicon-32.png" alt="'Origami Colored Pencil Icons' by Double-J Design. CC Attribution 4.0. http://www.doublejdesign.co.uk" title="'Origami Colored Pencil Icons' by Double-J Design. CC Attribution 4.0. http://www.doublejdesign.co.uk"/>
          <a class="navbar-brand" data-i18n="InstantChat">InstantChat</a>
          <a href="#" class="glyphicon glyphicon-facetime-video sessionType-icon videoIcon blinkOnAppear" data-toggle="modal" data-target="#videoChannel"></a>
          <a href="#" class="glyphicon glyphicon-volume-up sessionType-icon audioIcon"></a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="container navbarContainer">
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="#" class="navbarItem" id="listroommates" data-i18n="List Chatters">List Chatters</a>
              </li>
              <li>
                <a href="#" class="navbarItem" id="about" data-i18n="About">About</a>
              </li>
              <li>
                <a href="#" class="navbarItem" id="quit" data-i18n="Quit">Quit</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row mainAreas">
        <div class="col-xs-12 col-sm-12 col-md-8">
          <div class="chatArea">
            <ul class="messages" id="publicMessages"></ul>
          </div>
        </div>
        <div class="hidden-xs hidden-sm col-md-4">
          <div class="userArea">
            <h3 data-i18n="Users">Users</h3>
            <ul class="users"></ul>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="statusbar"><span class="label label-default callStatus"></span></div>
        <div class="audios">
          <audio class="remoteAudio" autoplay="autoplay"></audio>
        </div>
        <div class="control-panel">
          <div class="mediaControls">
            <button type="button" class="btn btn-danger chatoption stopAudio" data-toggle="tooltip" data-placement="top" title="Stop the call" data-i18n="Stop">
              STOP
            </button>
            <button type="button" class="btn btn-danger chatoption stopVideo" data-toggle="tooltip" data-placement="top" title="Stop the call" data-i18n="Stop">
              STOP
            </button>
            <input type="checkbox" data-off-text="Muted" data-on-text="Unmuted" checked="true" class="BSswitch mute">
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <textarea class="inputMessage form-control" data-i18n="[placeholder]Say something"></textarea>
        </div>
      </footer>
    </li>
    <li class="login page">
      <div class="form">
        <input class="usernameInput" type="text" maxlength="64" data-i18n="[placeholder]User name" />
        <br>
        <br>
        <br>
        <br>
        <input class="roomnameInput" type="text" maxlength="64" data-i18n="[placeholder]Room name" />
        <br>
        <br>
        <br>
        <br>
        <button id="enterRoom" type="submit" class="btn btn-1 btn-1a" data-i18n="Enter">Enter</button>
      </div>
    </li>
  </ul>
  <div id="contextMenu" class="dropdown clearfix">
    <ul class="dropdown-menu context-dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
      <li><a tabindex="-1" id="sendMsg" href="#" data-i18n="Send message">Send message</a></li>
      <li><a tabindex="-1" class="rtcAction" id="startAudio" href="#" data-i18n="Voice chat">Voice chat</a></li>
      <li><a tabindex="-1" class="rtcAction" id="startVideo" href="#" data-i18n="Video chat">Video chat</a></li>
      <li><a tabindex="-1" class="rtcAction" id="sendFile" href="#" data-i18n="Send file">Send file</a></li>
      <li><a tabindex="-1" id="poke" href="#" data-i18n="Poke user">Poke user</a></li>
    </ul>
  </div>
  <input type="file" id="fileInput" />

  <div class="modal fade" id="privateChannel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="privateMessagesTitle" data-i18n="Private Chat">Private Chat</h4>
        </div>
        <div class="modal-body">
          <ul class="messages" id="privateMessages"></ul>
          <div class="container">
            <textarea class="privateMessage form-control" data-i18n="[placeholder]Whisper something"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" data-i18n="Close">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="videoChannel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" data-i18n="Video chat">Video chat</h4>
        </div>
        <div class="modal-body">
          <div class="media-panel">
            <div class="videos">
              <video class="remoteVideo" autoplay="autoplay"></video>
              <video class="localVideo" autoplay="autoplay"></video>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger stopVideo" data-dismiss="modal" data-i18n="Stop">STOP</button>
          <input type="checkbox" data-off-text="Muted" data-on-text="Unmuted" checked="true" class="BSswitch mute">
        </div>
      </div>
    </div>
  </div>

</body>
</html>
