<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>InterChat-Test</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/chat.css">
</head>
<body>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="https://apprtc.appspot.com/js/adapter.js"></script>
<script src="/js/socket.io.js"></script>
<script src="/js/bootbox.js"></script>
<script src="/js/common.js"></script>
<script src="/js/SignalingChannel.js"></script>
<script src="/js/p2p.js"></script>
<script src="/js/testp2p.js"></script>

<div class="navbar navbar-fixed-top navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand">InterChat</a>
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="container">

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" id="about">About</a>
        </li>
        <li>
          <a href="#" id="quit">Quit</a>
        </li>
        <li class='chatoption'>
        </li>
      </ul>
    </div>
  </div>
</div>
<div>
  <video id="videoTest" autoplay></video>
  <button type="button" class="btn btn-default" id="record" style="top:150px">
    <span class="glyphicon glyphicon-record"></span>
  </button>
</div>

</body>
</html>
